Flipper Zero Firmware Builds

This repository contains daily firmware builds for Flipper Zero.

<a
  href="https://lab.flipper.net/?url=https://jesserockz.github.io/flipperzero-firmware-builds/{{OfficialFilename}}&channel=release&version={{OfficialVersion}}">Official</a>
<a
  href="https://lab.flipper.net/?url=https://jesserockz.github.io/flipperzero-firmware-builds/{{UnleashedFilename}}&channel=cfw&version={{UnleashedVersion}}">Unleashed</a>
<a
  href="https://lab.flipper.net/?url=https://jesserockz.github.io/flipperzero-firmware-builds/{{RogueMasterFilename}}&channel=cfw&version={{RogueMasterVersion}}">RogueMaster</a>
