<html>

<head>
    <title>Flipper Zero Firmware Builds</title>
</head>

<body>
    <h1>Flipper Zero Firmware Builds</h1>

    <p>This repository contains daily firmware builds for Flipper Zero.</p>

    <p>Last build time: {{Timestamp}}</p>

    <h2><a target="_blank"
            href="https://lab.flipper.net/?url=https://jesserockz.github.io/flipperzero-firmware-builds/{{OfficialFilename}}&channel=dev&version={{OfficialVersion}}">Official</a>
        - {{OfficialVersion}}
        - <a href="https://github.com/flipperdevices/flipperzero-firmware">Repo</a>
    </h2>

    <h2><a target="_blank"
            href="https://lab.flipper.net/?url=https://jesserockz.github.io/flipperzero-firmware-builds/{{UnleashedFilename}}&channel=Unleashed&version={{UnleashedVersion}}">Unleashed</a>
        - {{UnleashedVersion}}
        - <a href="https://github.com/DarkFlippers/unleashed-firmware">Repo</a>
    </h2>

    <h2><a target="_blank"
            href="https://lab.flipper.net/?url=https://jesserockz.github.io/flipperzero-firmware-builds/{{RogueMasterFilename}}&channel=RogueMaster&version={{RogueMasterVersion}}">RogueMaster</a>
        - {{RogueMasterVersion}}
        - <a href="https://github.com/RogueMaster/flipperzero-firmware-wPlugins">Repo</a>
    </h2>

</body>

</html>
